<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EscribirArchivo</servlet-name>
        <servlet-class>Controllers.EscribirArchivo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EscribirArchivo</servlet-name>
        <url-pattern>/EscribirArchivo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>muestraProductos</servlet-name>
        <servlet-class>Controllers.muestraProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>muestraProductos</servlet-name>
        <url-pattern>/muestraProductos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PrepararPedido</servlet-name>
        <servlet-class>Controllers.PrepararPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepararPedido</servlet-name>
        <url-pattern>/PrepararPedido</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PrepararFactura</servlet-name>
        <servlet-class>Controllers.PrepararFactura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepararFactura</servlet-name>
        <url-pattern>/PrepararFactura</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerificarSesion</servlet-name>
        <servlet-class>Controllers.VerificarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerificarSesion</servlet-name>
        <url-pattern>/VerificarSesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelarSesion</servlet-name>
        <servlet-class>Controllers.CancelarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelarSesion</servlet-name>
        <url-pattern>/CancelarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>